@charset "UTF-8";
.ojos {fill:#333333}
.barba {fill:#333333}
.rostro {fill:#F8D9B8}
.orejas {fill:#F8D9B8}
.lentes {fill:#114364;fill-rule:nonzero}
.cejas {fill:#333333;fill-rule:nonzero}
.boca {fill:#B2553B;fill-rule:nonzero}
